
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="jumbotron">

    <img alt="Brand" src="~/Content/img/logo.png">  <h4>TRAKYA ÜNİVERSİTESİ HOŞGELDİNİZ!</h4>
</div>
<div class="row">
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/Content/img/kimlik.png" alt="...">
            <div class="caption">
                <h4>Kimlik Bilgileri</h4>
                <p>
                    <a href="~/Admin/IdInformations/Create" class="btn btn-group-xs btn-primary" role="button">Ekle</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/Content/img/profil.png" ...">
            <div class="caption">
                <h4>Profil Resmi</h4>
                <p>
                    <a href="~/Admin/ProfileImages/Create" class="btn btn-group-xs btn-primary" role="button">Ekle</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/Content/img/biyografi.png" alt="...">
            <div class="caption">
                <h4>Biyografi</h4>
                <p>
                    <a href="~/Admin/Biographies/Create" class="btn btn-group-xs btn-primary" role="button">Ekle</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/Content/img/egitim.png" alt="...">
            <div class="caption">
                <h4>Eğitim Durumu</h4>
                <p>
                    <a href="~/Admin/EducationInfoes/Create" class="btn btn-group-xs btn-primary" role="button">Ekle</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/Content/img/gorev.png" alt="...">
            <div class="caption">
                <h4>Akademik ve İdari Görevler</h4>
                <p>
                    <a href="~/Admin/AcademicandAdministrativeDuties/Create" class="btn btn-group-xs btn-primary" role="button">Ekle</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/Content/img/tecrube.png" alt="...">
            <div class="caption">
                <h4>İş Tecrübesi</h4>
                <p>
                    <a href="~/Admin/JobExperiences/Create"  class="btn btn-group-xs btn-primary" role="button">Ekle</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/Content/img/yayin.png" alt="...">
            <div class="caption">
                <h4>Yayınlar</h4>
                <p>
                    <a href="~/Admin/Publications/Create" class="btn btn-group-xs btn-primary" role="button">Ekle</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/Content/img/ders.png" alt="...">
            <div class="caption">
                <h4>Verdiği Dersler</h4>
                <p>
                    <a href="~/Admin/GivenLessons/Create" class="btn btn-group-xs btn-primary" role="button">Ekle</a>
                </p>
                <p> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/Content/img/proje.png" alt="...">
            <div class="caption">
                <h4>Proje Uygulaması</h4>
                <p>
                    <a href="~/Admin/ProjectApplications/Create" class="btn btn-group-xs btn-primary" role="button">Ekle</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-2">
        <div class="thumbnail">
            <img src="~/Content/img/duyuru.png" alt="...">
            <div class="caption">
                <h4>Duyurular</h4>
                <p>
                    <a href="~/Admin/Notices/Create" class="btn btn-group-xs btn-primary" role="button">Ekle</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
</div>